
/* Brand colors and variables */

:root {
  --vp-c-brand-1: #fc009b;
  --vp-c-brand-2: #db8f00;
  --vp-c-brand-3: color-mix(in srgb, white 15%, var(--vp-c-brand-1));
  --vp-c-brand-soft: color-mix(in srgb, var(--vp-c-brand-3) 15%, transparent);
}

.dark {
  --vp-c-brand-1: #ff3db5;
  --vp-c-brand-2: #ffa600;
  --vp-c-brand-3: color-mix(in srgb, black 15%, var(--vp-c-brand-1));
  --vp-c-brand-soft: color-mix(in srgb, var(--vp-c-brand-3) 20%, transparent);
}

:root {
  --vp-font-family-base:
    'InstrumentSans', ui-sans-serif, system-ui, sans-serif, 'Inter',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --vp-c-border: color-mix(in srgb, var(--vp-c-brand-1) 40%, transparent);

  --vp-c-tip-1: var(--vp-c-purple-1);
  --vp-c-tip-2: var(--vp-c-purple-2);
  --vp-c-tip-3: var(--vp-c-purple-3);
  --vp-c-tip-soft: var(--vp-c-purple-soft);

  --vp-badge-info-border: var(--vp-c-text-3);
  --vp-badge-tip-border: var(--vp-c-tip-3);
  --vp-badge-warning-border: var(--vp-c-warning-3);
  --vp-badge-danger-border: var(--vp-c-danger-3);
}
