/* Мини-оглавления (Table of Contents) */

.toc-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
}

.toc-grid.toc-main {
  font-size: 1.2em;
}

.toc-grid .toc-column ul {
  list-style: none;
  padding-left: 0;
}

.toc-grid:not(.toc-main) .toc-column {
  & ul {
    margin: 0;

    & li {
      margin: 0;

      & code {
        color: var(--vp-c-text-3);
      }

      & a {
        text-decoration-color: color-mix(in srgb, var(--vp-c-brand-1) 60%, transparent);

        code {
          color: var(--vp-c-brand-1) !important;
        }

        &:hover {
          color: var(--vp-c-brand-1);
          background-clip: text;
          text-decoration: underline;
          text-decoration-color: color-mix(in srgb, var(--vp-c-brand-2) 80%, transparent);
        }
      }
    }
  }

  & hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, var(--vp-c-divider) 60%, transparent);
    margin: 8px 0 4px;
  }
}
